@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300&display=swap');

html {
    /* 1rem = 10px */
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    font-size: 1.6rem;
    line-height: 24px;
    text-rendering: optimizeSpeed;
}
